@import "reset.css";

body {
   font-family: 'Lato', sans-serif;
   color: #424551;
   /* font-size: 16px; */
}


.wrapper {
   display: flex;
   flex-direction: column;
   overflow: hidden;
   position: relative;
   min-height: 100%;
}

.wrapper main {
   flex: 1 1 auto;
}

/*======================== general ======================*/

[class*="__container"] {
   max-width: 1260px;
   padding: 0px 15px; /*! отступы безопасности. Их сумму нужно добавить к общей длинне огр контейнера*/
   margin: 0 auto;
}

/*======================= header =====================================*/

.header {
   position: fixed;
   width: 100%;
   z-index: 99;
   padding: 20px 0;
   background-color: #e2e0e0;
}

.header__container {
   /* background-color: aqua; */
   display: flex;
   align-items: center;
   gap: 60px;
}

.header__nav {
   flex-grow: 1;
}

.header__list {
   display: flex;
   flex-wrap: wrap;
   column-gap: 40px;
   row-gap: 5px;
}

.list-header__link {
   font-weight: 700;
   line-height: 1.2;
   color: #424551;
}
.list-header__link:hover {
   text-decoration: underline;
}

.header__action {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   flex-shrink: 0;
   gap: 36px;
}

.header__register {
   display: flex;
   align-items: center;
   font-weight: 700;
   line-height: 1.2;
   color: #424551;
   gap: 8px;
}
.header__register::before {
   content: "";
   flex: 0 0 18px;
   width: 18px;
   height: 18px;
   top: 0;
   left: 0;
   background: url('../img/header/icon.svg') left no-repeat;
}

@media (max-width: 1100px ) {
   .header__container {
      gap: 30px;
   }
   .header__list {
      column-gap: 25px;
   }
}
@media (max-width: 1035px) {
   .header {
      padding: 10px 0;
   }
   .header__container {
      padding: 0 10px;
   }
   .header__action {
      gap: 10px;
   }
}
@media (max-width: 940px) {
   .header__container {
      gap: 20px;
   }
   .header__list {
      column-gap: 15px;
   }
}
@media (max-width: 880px) {
   .header__action {
      flex-direction: column-reverse;
      gap: 10px;
   }
}
@media (max-width: 767.98px){
   .header__list {
      margin: 0 -10px;
      column-gap: 0;
      row-gap: 10px;
   }
   .list-header__column {
      flex: 0 1 33.333%;
      padding: 0 10px;
   }
}
@media (max-width: 640px){
   .header__list {
      margin: 0 -10px;
      column-gap: 0;
      row-gap: 10px;
   }
   .list-header__column {
      flex: 0 1 50%;
      padding: 0 10px;
   }
}
@media (max-width: 555px){
   .header__list {
      margin: 0 -10px;
      column-gap: 0;
      row-gap: 10px;
   }
   .list-header__column {
      flex: 0 1 100%;
      padding: 0 10px;
   }
   .list-header__item {
      text-align: center;
   }
   .list-header__link {
      font-size: 14px;
   }
   .header__register {
      font-size: 14px;
   }
   header__button {
      font-size: 14px;
      padding: 10px 40px;
   }
}
@media (max-width: 480px){
   .header__container {
      flex-direction: column;
   }
   .list-header__column {
      flex: 1 1 50%;
      padding: 0 10px;
   }
   .header__action {
      flex-direction: column-reverse;
   }
}
@media (max-width: 347px){
   .list-header__link {
      font-size: 16px;
   }
   .header__action {
      /* flex: 1 0 100%; */
      width: 100%;
   }
   .header__button {
      width: 100%;
      font-size: 16px;
      text-align: center;
      padding: 10px 40px;
   }
   .header__register {
      flex: 1 0 100%;
      font-size: 16px;
   }
}


/*======================= header =====================================*/